:root {
	/* New palette - midnight & starlight */
	--color-midnight: #001A11;
	--color-midnight-rgb: 0, 26, 17;
	/* Deep midnight green */
	--color-starlight: #E0E0E0;
	--color-starlight-rgb: 224, 224, 224;
	/* Soft starlight gray */
	--color-treescape: #887850;
	--color-treescape-rgb: 136, 120, 80;
	/* Earthy treescape */
	--color-night-shine: #00BC44;
	--color-night-shine-rgb: 0, 188, 68;
	/* Vibrant night-shine green */
	--color-background-translucent: #001A11CC;
	--color-background-opacity: 0.8;
}

:root[data-theme="light"] {
	--color-background: var(--color-starlight);
	--color-background-rgb: var(--color-starlight-rgb);
	--color-text: var(--color-midnight);
	--color-text-rgb: var(--color-midnight-rgb);
	--color-accent: var(--color-treescape);
	--color-accent-rgb: var(--color-treescape-rgb);
	--color-accent-secondary: var(--color-night-shine);
	--color-accent-secondary-rgb: var(--color-night-shine-rgb);
	--color-background-translucent: rgba(var(--color-starlight-rgb), var(--color-background-opacity));
}

:root[data-theme="dark"] {
	--color-background: var(--color-midnight);
	--color-background-rgb: var(--color-midnight-rgb);
	--color-text: var(--color-starlight);
	--color-text-rgb: var(--color-starlight-rgb);
	--color-accent: var(--color-night-shine);
	--color-accent-rgb: var(--color-night-shine-rgb);
	--color-accent-secondary: var(--color-treescape);
	--color-accent-secondary-rgb: var(--color-treescape-rgb);
	--color-background-translucent: rgba(var(--color-midnight-rgb), var(--color-background-opacity));
}
