---
import { basics } from "@cv";

const { summary } = basics;
---

<p>{summary}</p>

<style>
  p {
    margin: 1rem 0 0 0;
  }

  @media (width <= 700px) {
    p {
      line-height: 1.2;
    }
  }
</style>
