---
import Layout from "@/layouts/blogLayout.astro";
import WatchlistHeader from "@/components/watchlist_project/watchlistHeader.astro";
---

<Layout title="Movies">
	<WatchlistHeader />
	<main></main>
</Layout>
