---
import Layout from "@/layouts/Layout.astro";
import WatchlistHeader from "@/components/watchlist_project/watchlistHeader.astro";
---

<Layout title="Movies">
	<WatchlistHeader />
	<main></main>
</Layout>
